*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    color: white;
 }
 body{
     height: 100vh;
     overflow: hidden;
     font-family:  Helvetica, sans-serif;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     background-color: black;
 }
 nav{
     display: flex;
     justify-content: end;
     padding: 20px 10px;
     height:60px ;
 } 
 ul{
     display: flex;
     list-style: none;
     align-items: center;
 }
 li{
     text-align: center;
     padding: 14px 12px;
 }  
 a{
     text-decoration: none;
 }
 li a:hover {
 text-decoration: underline;
 }
  .small-text{
     font-size: 0.9rem; 
  }

  .menu-button{
     width: 15px;
  }
  .profile-pic{
     margin-top: 6px; 
     border-radius: 50%;
     width: 100%;
  }
 .search-wrapper{
     height: 50vh;
     display: flex;
     flex-direction: column;
     align-items: center; 
 }
 form{
     position: relative;
     margin-top: 30px;
 }
 input{
     width: 540px;
     height: 45px;
     padding-left: 50px;
     font-size: 1.2rem;
     border-radius: 45px;
     border: 1px solid#eeeeeeb8;
     background-color: rgb(20, 18, 18)
 }
 input:hover{
     box-shadow: 1px 3px 1px rgba(20, 6, 6, 0.5);
 }
 input:focus{
     outline: none;
 }
 .logo{
    width: 200px;
 }
 i.bx.bx-search-alt-2{
    width: 131px;
    height: max-content;
    position: absolute;
    top: 17px;
    left: 20px;
 }

 form svg{
    position: absolute;
    right: 8px;
    top: 11px;
 }
 .buttons{
     width: 305px;
     margin:auto;
     margin-top: 30px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 25px;
 }
 button{
     border: 1px solid transparent;
     padding: 8px 12px;
     background-color: #28292b;
     border-radius: 5px;
     
 }
 button:hover{
     border: 1px solid #eee;
     box-shadow: 0 0 2px 1px rgba(100,100, 100, 0.5);
     cursor: pointer;
 }
 .language{
    display: flex;
    justify-content: space-evenly;
 }
 .language ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.language ul a{
    color: #8ab4f8;
} 
.language ul a:hover{
    text-decoration: underline;
}
 
 footer{
     width: 100%;
     height: 100px;
     background-color: rgb(20, 18, 18);
 }
 .line{
    color: rgb(77, 79, 81);
 }
 .panel{
     
     height: 50px;
     display: flex;
     justify-content: space-between;
     padding: 15px;
 }
 
 p{
     color: rgb(147, 145, 145);
     padding-left: 13px;
 }